<h1>{{pregunta.title}}</h1>
<h2>Creada por: {{pregunta.[0].????}} {{pregunta.[0].????}} </h2>
<h3>Detalle pregunta:</h3>
<span>{{pregunta.?????}}</span>
<h3>Respuestas:</h3>
<p>{{respuesta.[0].???? }}</p>

<a href="/private"> Regresar</a>